@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&family=Poppins:ital,wght@0,300;0,500;0,700;0,800;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
    width: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#764077+0,274589+100 */
    background: linear-gradient(45deg, hsla(299, 30%, 36%, 1) 0%, hsla(222, 56%, 35%, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    height: 100vh;
}

.contant {
    margin: auto;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    background-color: rgba(21, 29, 36, 0.7);
    border-radius: 16px;
}

.img-wrap {
    width: 100%;
}

.img-wrap>img {
    border-radius: 16px;
    width: 100%;
}

.contant>h1 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.contant>p {
    font-size: 12px;
    font-weight: 300;
    color: #4D5562;
}

.contant>.ctrl-btn-wrap {
    width: 100%;
    margin: auto;
}

.contant>.ctrl-btn-wrap>input {
    appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 6px;
    background-color: ivory;
    overflow:hidden;
}

.contant>.ctrl-btn-wrap>input::-webkit-slider-thumb {
    appearance: none;
    border-radius: 20px;
    height: 6px;
    width: 4px;
    background-color: #C93B76;
    box-shadow: -400px 0 0 400px #C93B76;


}


.contant>.ctrl-btn-wrap>.ctrl-btn {
    padding-top: 2em;
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
}

.contant>.ctrl-btn-wrap>.ctrl-btn div {
    cursor: pointer;
}

.contant>.ctrl-btn-wrap>.ctrl-btn div:nth-child(1),
.contant>.ctrl-btn-wrap>.ctrl-btn div:nth-child(3) {
    scale: 1;
}

.contant>.ctrl-btn-wrap>.ctrl-btn div:nth-child(2) {
    scale: 1;
    border-radius: 50%;
    padding: 0.7em 1.2em;
    background: #C93B76;
    box-shadow: 0px 0px 2em 0.3px #C93B76;
}

.contant>.ctrl-btn-wrap>.ctrl-btn div:nth-child(2)>i {

    color: #fff;
}

.contant>.ctrl-btn-wrap>.ctrl-btn div:nth-child(1)>i,
.contant>.ctrl-btn-wrap>.ctrl-btn div:nth-child(3)>i {
    color: #4D5562;
}


.wrapper>.contant>.time-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #4D5562;
}